<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/emp/search" method="POST">
    search <input type="text" name="search"><input type="submit" value="search">
    <ul>
        <li>
            <a href="/emp">New employee</a>
        </li>
        <li>
            <a href="/emp/view">view employee</a>
        </li>
    </ul>
</form>
</body>
</html>