<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="2px">
        <thead>
            <tr>
                <th>
                    Employee id
                </th>
                <th>
                    Employee name
                </th>
                <th>
                    Employee salary
                </th>
            </tr>
        </thead>
        <tbody>
            <%for(var i=0; i<emps.length;i++){%>
            <tr>
                <td>
                   <%= emps[i].eid%>
                </td>
                <td>
                        <%= emps[i].name%>
                </td>
                <td>
                        <%= emps[i].salary%>
                </td>
            </tr>
            <%}%>
        </tbody>
    </table>
</body>
</html>